@charset "utf-8";

body {
    /*text-align: center;*/
    color: #333333;
    font-family: "メイリオ", Segoe UI, "ヒラギノ角ゴ", Helvetica, sans-serif;
    margin-top: 0px;
    -webkit-text-size-adjust: none;
    font-size: 12px;
    line-height: 1.5em;
}
select {
    font-family: "メイリオ", Segoe UI, "ヒラギノ角ゴ", Helvetica, sans-serif;
}

/*-----------------------
  frame
------------------------*/
.frame {
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
}

.frameHeader {
    width: 100%;
    letter-spacing: 0.5em;
    text-indent: 1em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    padding: 5px 0px 5px 0px;
    word-break:break-all;
    text-align: left;
}
.frameHeader select{
    color:#333333;
}
.frameHeader_gray {
    width: 100%;
    letter-spacing: 0.5em;
    text-indent: 1em;
    font-weight: bold;
    color: #333333;
    background: url(../images/line_h2.gif) bottom left;
    padding: 5px 0px 5px 0px;
}

.frameBody {
    width: 100%;
    border: solid 1px #cccccc;
    margin-bottom:40px;
}

.title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/*-----------------------
  テーブル1（履歴系）
------------------------*/
.frameBody ul {
    display: inline-block;
    list-style: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

.frameBody div.listTitle {
    background-color: #e2e2e2;
}

.frameBody ul.tableHeader {
    width: 100%;
}
.frameBody ul.tableBody {
    border-top: 1px #cccccc dashed;
    width: 100%;
}
.frameBody ul.tableBody:first-child {
    border-top:none;
}
.frameBody li {
    padding: 10px;
}
.listTbl{
    width:100%;
}
.listTbl th{
    background-color:#e2e2e2;
    font-weight:bold;
    text-align:center;
}
.listTbl td,
.listTbl th{
    border-right:1px solid #cccccc;
    padding: 10px;
    word-break: break-all;
}
.listTbl tr:hover{
    background-color:#f9f9f9;
}
.listTbl tr:last-child,
.listTbl td:last-child,
.listTbl th:last-child{
    border-right:none;
}
.listTbl td.bdr_none,
.listTbl th.bdr_none{
    border-right:none;
}

/*-----------------------
  テーブル2（フォーム系）
------------------------*/
.frameBody.dispTable {
    display: table;
}

.leftTitle {
    background-color: #e2e2e2;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 8px 10px 10px;
    width: 170px;
}

.rightData {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    word-break: break-all;
}

/*-----------------------
  テーブル3（出しわけ系）
------------------------*/
.cartTbl{
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-top:1px solid #cccccc;
    width:100%;
    background:#ffffff;
}
.cartTbl .incWorkArea td{
    padding-top:0;
    padding-bottom:0;
    word-break: break-all;
    padding-bottom:10px;
}
.cartTbl th{
    background-color:#e2e2e2;
    padding:5px;
    text-align:center;
    border-right:1px solid #cccccc;
}
.cartTbl td{
    padding:10px;
    border-right:1px solid #cccccc;
    word-break: break-all;
}
.cartTbl .tbl_img{
    width:10%;
    text-align:center;
    border:0;
}
.cartTbl .tbl_r{
    vertical-align:top;
}
.cmdtyCol {
    width:50%;
}
/*合計*/
.cartTotal tr{
    border-bottom:1px solid #cccccc;
}
.cartTotal td{
    width:25%;
}
.cartTotal th{
    width:75%;
    text-align:right;
}
.cartTotal tbody,
.cartTotal tr{
    width:100%;
}
/*カート以下共通*/
.cartTtl{
    background-color:#eeeeee;
    font-size:22px;
    font-weight:bold;
    padding:10px;
    margin-bottom:50px;
    line-height: 1.2em;
}

/*991px以下(xs,sm)で表示*/
@media screen and (max-width:991px) {
    .cartTblmini{
            width:100%;
    }
    .cartTblmini .tbl_img{
        vertical-align:top;
        width: 72px;
    }
    .cmdtyCol{
        width:75%;
    }
    .cartTblIcon{
        width:60%;
    }
    .cartTbl{
        border-bottom:1px solid #cccccc;
    }
    .cartTbl td{
        padding:10px !important;
    }

}

/*-----------------------------
  情報メッセージ
-----------------------------*/
.informationBlock {
    color: teal;
    font-size: 90%;
    background-color: Azure;
    margin: 1em;
    padding: 1em;
    border: 1px solid LightSeaGreen;
}

/*-----------------------------
  警告メッセージ
-----------------------------*/
.warningBlock {
    color: DarkGoldenRod;
    font-size: 90%;
    background-color: LightYellow;
    margin: 1em;
    padding: 1em;
    border: 1px solid gold;
}

/*-----------------------------
  エラーメッセージ
-----------------------------*/
.errorBlock {
    color: #AF0000;
    font-size: 90%;
    background-color: #FDF7F2;
    margin: 1em;
    padding: 1em;
    border: 1px solid #AF0000;
}

.bgRed{
    background-color: #FDF7F2;
}

/*-----------------------------
  カート追加popUpメッセージ
-----------------------------*/
.successAddCartMessage {
    border-radius: 4px;
    box-shadow: 0 1px 4px gray;
    padding: 10px;
    margin-top: -15px;
    position: absolute;
    right: 10px;
    z-index: 100;
    color: teal;
    font-size: 80%;
    background-color: Azure;
    border: 1px solid LightSeaGreen;
}

.errorAddCartMessage {
    border-radius: 4px;
    box-shadow: 0 1px 4px gray;
    padding: 10px;
    margin-top: -15px;
    position: absolute;
    right: 10px;
    z-index: 100;
    color: red;
    font-size: 80%;
    background-color: #FDF7F2;
    border: 1px solid red;
}
/*-----------------------------
  ポップアップメッセージ
-----------------------------*/
.popMessageArea {
    display: none;
    position: absolute;
    z-index: 99;
}

.popMessage {
    color: teal;
    font-size: 80%;
    background-color: Azure;
    border: 1px solid LightSeaGreen;
    border-radius: 4px;
    box-shadow: 0 1px 4px gray;
    padding: 5px;
    opacity: 0.95;
    margin-left: -10px;
    margin-top: -85px;
    margin-top: -85px\9; /* IE8以降 */
}
/*-----------------------------
  popUpエリア
-----------------------------*/
.popUpArea{
    background-color: #ffffff;
    border: 1px solid #778899;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px rgba(200, 200, 200, 0.7);
    color: #333333;
    padding: 10px 15px;
    position: absolute;
    text-align: left;
    width: auto;
    z-index: 999;
}

/*-----------------------------
 検索popUpエラーメッセージ
-----------------------------*/
.searchAlert {
    border-radius: 4px;
    box-shadow: 0 1px 4px gray;
    padding: 10px;
    margin-top: -15px;
    position: absolute;
    z-index: 1002;
    color: #222222;
    font-size: 120%;
    background-color: #ffffff;
    border: 3px solid #777777;
}
/*-----------------------------
 商品詳細共通
-----------------------------*/
#spImageLink {
  z-index: 500;
  cursor: pointer;
  position: absolute;
}

#detailDescription {
  /* display: flex; */
}

/*-----------------------------
 付帯サービス共通
-----------------------------*/
.incWorkFreeTextInput {
  width:100%;
}

/*-----------------------------
  マイページ共通
-----------------------------*/
.mypageInfo{
  border:1px solid #e68012;
  padding:10px;
  margin-bottom:40px;
}

/*-----------------------------
  お客様情報共通
-----------------------------*/
.bottom {
    vertical-align: bottom;
    margin-bottom: 0px !important;
}

#agreeCheck {
    min-width: auto !important;
    margin: unset !important;
    margin-right: 5px !important;
    margin-top: 0px !important;
}

/*-----------------------
  種類
------------------------*/
span[class$="TypeIcon"]:before {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  padding: 5px 7px;
}

span.reserveTypeIcon {
  border:1px solid  #333333;
  padding: 1px 5px 1px 5px;
}



/*-----------------------------
  手数料一覧共通
-----------------------------*/
.commissionListDetailArea {
  display: none;
  width:45%;
  min-width: 300px;
}

.commissionListDetailArea th{
    background-color:#e2e2e2;
    font-weight:bold;
    text-align:center;
}
.commissionListDetailArea td,
.commissionListDetailArea th{
    border-right:1px solid #cccccc;
    padding: 10px;
}
.commissionListDetailArea tr:hover{
    background-color:#f9f9f9;
}
.commissionListDetailArea tr {
  border-bottom: 1px solid #cccccc;
}
.commissionListDetailArea tr:last-child,
.commissionListDetailArea td:last-child,
.commissionListDetailArea th:last-child{
    border-right:none;
     border-bottom:inherit;
}
/*-----------------------------
カート情報共通
-----------------------------*/
.paymentMethodLogoListMainArea img {
  height:20px;
  margin:5px;
}
.paymentMethodLogoListMainArea.creditCard img,
.paymentMethodLogoListMainArea.cvs img {
  height:20px;
  width:initial;
  margin:5px;
}
.paymentMethodLogoListMainArea.other img {
  height:initial;
  width:72px;
  margin:5px;
}
.cardInfoTitle{
    display: flex;
    align-items:center;
    justify-content:space-between;
    border: 1px solid #cccccc;
    border-right: 0px;
    background-color: #e2e2e2;
    padding: 8px;
    min-height: 43px;
}
.savedCardInfo,.inputtedCardInfo{
     display: flex;
     align-items:center;
     flex-wrap: wrap;
     justify-content:space-between;
     border: 1px solid #cccccc;
     border-top: 0px;
     border-right: 0px;
     padding: 8px;
     min-height: 43px;
}
.cardListButtomArea{
    border: 1px solid #cccccc;
    border-top: 0px;
    margin-bottom: 10px;
}
/*-----------------------
 連打設定
------------------------*/
div.blockDoubleClick {
    /*
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    */
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

/*-----------------------
  リアルタイムバリデーション
------------------------*/
.validationMessageArea {
    position: absolute;
    z-index: 99;
    margin-top: 10px;
}

.validationMessage {
    color: #af0000;
    font-size: 70%;
    padding: 3px;
    background-color: #FDF7F2;
    border: 1px solid #AF0000;
    opacity: 0.95;
    margin-left: -10px;
    margin-top: -61px;
    margin-top: -61px\9; /* IE8以降 */
}

.triangle {
    width: 0;
    height: 0;
    left: 50%;
    border-bottom: 8px solid transparent; /*下向き三角*/
    border-right: 8px solid transparent; /*左向き三角*/
    border-left: 8px solid transparent; /*右向き三角*/
    border-top: 10px solid #AF0000; /*上向き三角*/
    opacity: 1.0;
    margin-top: -20px;
}

/*-----------------------
  全角
------------------------*/
textarea.fullwidth, input.fullwidth {
    ime-mode: active;
}

/*-----------------------
  数字
------------------------*/
input.digit, input.alphaNum2 {
    ime-mode: inactive;
}

/*-----------------------
 必須入力
------------------------*/
.incWorkFreeTextTitle{
    display:inline;
}
#requiredMessageArea,
.requireMessageArea,
.necessary:after{
    margin-bottom:5px;
    padding-left: 10px;
}
.require:after,
.necessary:after,
.requireTtl:before{
    background-color:#af0000;
    border-radius:2px;
    -webkit-border-radius: 2px; /* Safari,Google Chrome用 */
    -moz-border-radius: 2px; /* Firefox用 */
    color:#ffffff;
    content:"必須";
    display:inline-block;
    font-size:10px;
    height:20px;
    line-height:1.5em;
    margin-left:5px;
    padding:3px 4px;
    float:right;
    behavior: url("css/PIE.htc");/*別途ファイル設置*/
}
.requireTtl:before{
    float:none;
    margin-left:0;
    margin-right:5px;
}

.caution {
    color: #af0000;
    font-size: 90%;
}

.wrapper {
    margin: 0px auto;
    text-align: left;
    display: block;
    position: relative;
}

.wrapper>.container>.row {
	display: block;
}

@media (max-width: 768px) {
	.wrapper>.container {
	    max-width: 100%;
	}
}

img {
    border: 0px currentColor;
    border-image: none;
    vertical-align: middle;
}

.img-center {
    margin: 0 auto;
}

.hidden, .dis-none {
    display: none;
}

.phoneNumber {
    width: 50px;
}

.email {
    -ms-ime-mode: inactive;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-table;
}

.clearBoth {
    clear: both;
}

/*link*/
a:not([href]) {
    color: #001789;
    text-decoration: none;
}
a:not([href]):not([class]):hover {
    color: #e68012;
    text-decoration: underline;
    cursor: pointer;
}
a {
    color: #001789;
    text-decoration: none;
}

a:hover {
    color: #e68012;
    text-decoration: underline;
    cursor: pointer;
}

a img:hover {
    opacity: 0.7;
    filter: alpha(opacity = 70); /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)"; /* ie 8 */
    -moz-opacity: 0.7; /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7; /* Safari 1.x */
}
a[type="button"] {
	-webkit-appearance: none;
}

input[type="button"], select {
    border: 1px solid #cccccc;
    height: 31px;
    cursor: pointer;
}
input[type="text"],
input[type="password"]{
    cursor: text;
}
input::-webkit-input-placeholder {
    color: #cccccc;/*Chrome,Safari*/
    font-weight: normal;
}
input:-ms-input-placeholder {
    color: #cccccc;/*IE*/
    font-weight: normal;
}
input::-moz-placeholder {
    color: #808080;/*Firefox*/
    font-weight: normal;
}

input:focus, textarea:focus {
    box-shadow: 0px 0px 3px 1px rgba(92, 171, 197, 0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(92, 171, 197, 0.75);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(92, 171, 197, 0.75);
}

input.checkbox {
    height: auto;
    width : auto;
    cursor: pointer;
    border: none;
}

#address3, #address4,
#addressAddress3, #addressAddress4,
#ownerAddress3, #ownerAddress4 {
    width: 500px;
}
label {
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

label input {
    border: none;
}

input:hover {
    opacity: 0.7;
    filter: alpha(opacity = 70); /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)"; /* ie 8 */
    -moz-opacity: 0.7; /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7; /* Safari 1.x */
}

/*text*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}
h1,h2 {
    font-size: 18px;
    background: url(../images/line_h1.gif) bottom left repeat-x;
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
    text-align:left;
}
h1 input,h2 input,
h1 select,h2 select{
    font-size:12px;
    font-weight:normal;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    background: url(../images/line_h2.gif) bottom left;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align:left;
}
h3 input,
h3 select{
    font-weight:normal;
    line-height:normal;
}

h4 {
    background: #eeeeee;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}

.txt_orange {
    color: #e68012;
    font-weight: bold;
}

.txt_white {
    color: #ffffff;
}

.txt_red {
    color: #af0000 !important
}

.txt_gray {
    color: #cccccc;
}

.txt_example {
    color: #aaaaaa;
}

.cursor_text {
    cursor: text;
}

.cursor_defaut {
    cursor: default;
}

.over_txt option {
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
    white-space: nowrap;
}

.over_txt {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
    white-space: nowrap;
}

.txt_r {
    text-align: right;
}

.txt_l {
    text-align: left;
}

/*space*/
.mr5 {
    margin-right: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt40 {
    margin-top: 40px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 15px;
    padding-left: 15px;
}

.row>* {
    padding: 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.pd0 {
    padding: 0;
}

/*other*/
.inline-block{
    display:inline-block;
}

.block{
    display:block;
}

.w100 {
    width: 100%;
}

.arrow {
    margin-left: 5px;
}

.contents_box {
    margin-bottom: 50px;
}

.contents_box_in {
    position: relative;
}

.box_in {
    padding: 0 10px;
}

.box_in a span {
    word-wrap: break-word;
}

.last_r {
    margin-right: 0;
}

.last_b {
    margin-bottom: 0;
}

.bdr_none {
    border: none;
}

.bdrB {
  border-top: double 3px #cccccc;
}

.txt_small {
  font-size: 10px;
}

.txt_large {
  font-size: 15px;
  font-weight:bold;
}

.txt_indent {
  text-indent: 20px;
}

/*pagination*/
.pager {
  margin: 0px;
}

.pagerMessage, .txt_normal {
  font-size: 12px;
}

.pagerArea {
    background: #eeeeee;
    padding: 10px 6px;
    width: 100%;
}

.pagerArea a {
    display: inline-block;
    background-color: #fff;
    margin: 0 3px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.pagerArea a:hover, .pagerArea a.this_page {
    background: #f9f9f9;
}

.pagerArea .activepage {
    margin: 0 3px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-weight: bold;
}

.pagerSizeArea{
   float: right;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .pagerArea a.pagingNext{
        display:-webkit-inline-box;
    }
}

.view_list {
    display: inline-block;
    background: url(../images/arrow_right_blue.gif) right 40%
        no-repeat;
    width: 80px;
    position: absolute;
    right: 10px;
    top: 2px;
}

.view_list02 {
    display: inline-block;
    background: url(../images/arrow_right_blue.gif) right 40%
        no-repeat;
    width: 80px;
    position: absolute;
    right: 10px;
    top: 6px;
}

.view_list03 {
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.view_btn {
    text-align: left;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 0 12px;
    height: 40px;
}

.view_list_btn {
    background: url(../images/arrow_next.gif) 98% 50% no-repeat;
    margin: 20px 0 40px 0;
}

.view_more_btn {
    background: url(../images/arrow_down.gif) 98% 50% no-repeat;
    margin: 20px 0 40px 0;
}

/*ボタン*/
#buttonArea{
    overflow:hidden;
}
#buttonArea input{
    min-width:150px;
    margin-top:10px;
}
.btn-orange{
    background-color: #e68012;
    color: #ffffff;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active{
    color:#ffffff !important;
    background-color: #e68012 !important;
    border: 1px solid #cccccc;
}
.btn-orange:disabled{
    background-color: #e68012;
    color: #ffffff;
    pointer-events: auto
}
.btn-gray{
    background-color: #808080 !important;
    color: #ffffff !important;
}
.btn-gray:hover,
.btn-gray:focus{
    color:#ffffff;
}
.btn_c{
    text-align:center;
}
.smallButton {
   min-width: 100px;
}
.largeButton {
   min-width: 150px;
}
.itembox {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.5em;
}

.itembox_img a {
    vertical-align: middle;
}

.itembox_img {
    border: 1px solid #cccccc;
    text-align: center;
    vertical-align: middle;
}

.itembox_img img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.itembox_itemname {
    height: 30px;
    display: block;
    padding: 8px 5px 4px 5px;
}

.itembox_shopname {
    display: block;
    padding: 4px 0 4px 0;
    position: relative;
    z-index: 100;
}

.itembox_price {
    text-align: right;
    height: 40px;
    display: block;
    padding: 8px 8px;
    font-weight: bold;
    margin-bottom: 10px;
}

.instagram_btn {
    width: 32px;
    height: 32px;
    margin: 0 15px
}

.col-1:has(#pinterestArea) {
    min-width: 90px;
    margin-top: auto!important;
    margin-bottom: auto!important;
    padding-bottom: 3px;
}

.col-1:has(#twitterArea) {
    min-width: 90px;
    margin-top: auto!important;
    margin-bottom: auto!important;
}

.col-1:has(#facebookArea) {
    min-width: 90px;
    margin-top: auto!important;
    margin-bottom: auto!important;
    padding-top: 3px;
}

.col-1:has(#instagramArea) {
    min-width: 80px;
    margin: 0px 12px;
}

.col-1:has(#lineArea) {
    padding-left: 0px !important;
    margin-top: auto!important;
    margin-bottom: auto!important;
}

@media screen and (max-width:991px) {
    .instagram_btn {
        width: 32px;
        height: 32px;
    }
}
@media screen and (max-width:580px) {
    .instagram_btn {
        width: 32px;
        height: 32px;
        margin: 15px 15px;
    }
}

/*itembox ふきだし*/
.balloon_icon {
    position: relative;
    display: inline-block;
}

.balloon_icon span {
    position: absolute;
    bottom: 30px;
    left: -5px;
}

.balloon_icon b {
    display: block;
    font-weight: normal;
}

.balloon {
    position: relative;
    display: inline-block;
    padding: 5px;
    width: 150px;
    color: #19283C;
    background: #eeeeee;
    border: 1px solid #cccccc;
    z-index: 0;
}

.balloon:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 15%;
    margin-left: -10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #eeeeee transparent transparent transparent;
    z-index: 0;
}

.balloon:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 15%;
    margin-left: -11px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #cccccc transparent transparent transparent;
    z-index: -1;
}

.txt_line-through {
    text-decoration: line-through;
}

.itembox_icon {
    height: 24px;
    display: block;
    padding: 8px 0;
}

.icon_item {
    height: 24px;
    display: inline-block;
}

.icon_star {
    position: absolute;
    right: 6%;
    height: 15px;
    vertical-align: middle;
}

.icon_star a {
    vertical-align: middle;
}

.icon_rank {
    position: absolute;
    left: -8px;
    top: -10px;
}

.btn_buy img {
    max-width: 28px;
    vertical-align: middle;
}

.item_description {
    margin: 10px 0;
    display: block;
    padding: 10px;
}

.left_navi_box {
    padding: 10px;
}

.left_navi_box img {
    vertical-align: middle;
}

.ttl_sns {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ttl_sns img {
    margin-right: 5px;
    vertical-align: middle;
}

.float_l, div .left {
    float: left;
}

.float_r, div .right {
    float: right;
}
.bdr_t_dash {
    border-top: 1px dashed #cccccc;
}
.bdr_b_dash {
    border-bottom: 1px dashed #cccccc;
}
.bdr_b_dash_fix{
    border-bottom: 1px dashed #cccccc;
}
.bdr_b_dash:last-child,
.bdr_b_solid:last-child {
    border: none;
}
.bdr_b_solid {
    border-bottom: 1px solid #cccccc;
}
.high_label {
    display: inline-block;
    color:#af0000;
    font-size: 90%;
    padding: 2px 10px;
    margin:2px 0;
    border: 1px solid #af0000;
    text-align: left;
}
.normal_label {
    display: inline-block;
    color:#000000;
    font-size: 90%;
    padding: 2px 10px;
    margin:2px 0;
    border: 1px solid #000000;
    text-align: left;
}

/*btn-black*/
.btn-black {
    color: #ffffff;
    background-color: #333333;
    border: none;
    padding: 5px 10px;
    height: 100%;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open>.dropdown-toggle.btn-black {
    color: #ffffff !important;
    background-color: #333333 !important;
    text-decoration: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* ie lt 8 */

    -ms-filter: "alpha(opacity=70)";
    /* ie 8 */

    -moz-opacity: 0.7;
    /* FF lt 1.5, Netscape */

    -khtml-opacity: 0.7;
    /* Safari 1.x */
}
.btn-black:active,
.btn-black.active,
.open>.dropdown-toggle.btn-black {
    background-image: none
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
    color: #ffffff;
    background-color: #333333;
    border: none;
}
.btn-black .badge {
    color: #ffffff;
    background-color: #333333;
    border: none;
}

/*dropdown-submenu*/
.dropdown-menu {
    z-index: 9999;
    font-size: 12px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*btn-in-cart*/
.btn {
    font-size: inherit;
    border-radius: inherit;
}

.btn-in-cart {
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #333333;
    padding: 3px 12px;
}
.btn-in-cart:hover,
.btn-in-cart:focus,
.btn-in-cart:active,
.btn-in-cart.active,
.open>.dropdown-toggle.btn-in-cart {
    color: #333333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* ie lt 8 */

    -ms-filter: "alpha(opacity=70)";
    /* ie 8 */

    -moz-opacity: 0.7;
    /* FF lt 1.5, Netscape */

    -khtml-opacity: 0.7;
    /* Safari 1.x */
}
.btn-in-cart:active,
.btn-in-cart.active,
.open>.dropdown-toggle.btn-in-cart {
    background-image: none
}
.btn-in-cart.disabled,
.btn-in-cart[disabled],
fieldset[disabled] .btn-in-cart,
.btn-in-cart.disabled:hover,
.btn-in-cart[disabled]:hover,
fieldset[disabled] .btn-in-cart:hover,
.btn-in-cart.disabled:focus,
.btn-in-cart[disabled]:focus,
fieldset[disabled] .btn-in-cart:focus,
.btn-in-cart.disabled:active,
.btn-in-cart[disabled]:active,
fieldset[disabled] .btn-in-cart:active,
.btn-in-cart.disabled.active,
.btn-in-cart[disabled].active,
fieldset[disabled] .btn-in-cart.active {
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #333333;
}
.btn-in-cart .badge {
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #333333;
}

/*btn-gray*/
.btn-gray {
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 4px 10px;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open>.dropdown-toggle.btn-gray {
    color: #333333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border: 1px solid #cccccc;
    text-decoration: none;
    /* ie lt 8 */

    -ms-filter: "alpha(opacity=70)";
    /* ie 8 */

    -moz-opacity: 0.7;
    /* FF lt 1.5, Netscape */

    -khtml-opacity: 0.7;
    /* Safari 1.x */
}
.btn-gray:active,
.btn-gray.active,
.open>.dropdown-toggle.btn-gray {
    background-image: none
}
.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}
.btn-gray .badge {
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}
/*btn-white*/

.btn-white {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 4px 10px;
}
.btn-white:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open>.dropdown-toggle.btn-gray {
    color: #333333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* ie lt 8 */

    -ms-filter: "alpha(opacity=70)";
    /* ie 8 */

    -moz-opacity: 0.7;
    /* FF lt 1.5, Netscape */

    -khtml-opacity: 0.7;
    /* Safari 1.x */
}
.btn-white:active,
.btn-gray.active,
.open>.dropdown-toggle.btn-gray {
    background-image: none
}
.btn-white.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}
.btn-white .badge {
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

/* override_slick-theme.css */
.slick-prev:before,
.slick-next:before
{
    color: black !important;
}

/*TAB,SP（991px以下）で表示*/
@media screen and (max-width:991px) {
    body {
        overflow-x: hidden;
    }
    .frameBody li {
        display: block;
        float: none;
    }
    .listTbl td{
        display:block;
        border-right:0;
        padding:3px 10px;
    }
    #buttonArea{
        width:100%;
        text-align:center;
    }
    #buttonArea .btn-black,
    #buttonArea .btn-orange,
    #buttonArea .btn-gray
    {
        width:95%;
        height:40px !important;
    }

    #buttonArea .float_l,
    #buttonArea .left,
    #buttonArea .float_r,
    #buttonArea .right{
        float:none;
    }
    .spBtn{
        height:40px !important;
        float:none;
        margin:0px auto;
        margin-bottom:5px;
        width:95%;
        display:block;
    }
    .mt-ms-5{
        margin-top: 5px;
    }
}
/*SPで表示*/
@media screen and (max-width:767px) {
    body {
        background: none;
        overflow-x: hidden;
    }
    .contents_box {
        margin-top: 20px;
    }
    div.frame {
        border: 0;
    }
    .icon_star {
        position: static;
    }
    .breadcrumb {
        padding: 10px;
        background-color: #eeeeee;
    }
    .leftTitle{
        display: block;
        width: 100%;
    }
    .rightData{
        padding: 10px 8px 10px 10px;
        display:block;
    }
    .bdr_b_dash{
        border:none;
    }
    #buttonArea div{
        float:none;
    }
    #postalCode {
        width: 70px;
    }
    #address3, #address4,
    #addressAddress3, #addressAddress4,
    #ownerAddress3, #ownerAddress4 {
        width:250px;
    }
    .email {
        width: 100%;
    }
    .high_label{
      margin-left:10px;
    }
    .normal_label{
      margin-left:10px;
    }

    /*SPフローティング*/
    #floating-menu {
      position: fixed;
      bottom: 0px;
    }

    #floating-menu button {
      height: 60px;
      border-right: 2px solid #ffffff;
      opacity: 1.0;
    }

    #floating-menu button img {
      height: 90%;
    }

    #floating-menu .bdr_none {
      border: none;
    }
}

.row hr {
    margin-top: 1rem;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn.show {
    border: 0;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

/* ------------------------------
  Safariのロングタップによるリンクプレビュー機能無効化
------------------------------ */
* {
  -webkit-touch-callout: none;
}
