@charset "utf-8";

#cookiePolicyPopUpArea {
  display: none;
  width: 80%;
  max-width: 600px;
  background-color: white;
}

.cookiePolicyPopUpHeader {
  background-color: #dcdcdc;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
}

.necessaryCookiePolicyArea {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}

.targetCookiePolicyArea {
  padding: 10px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}

.cookieTypePopup {
  text-align: left;
  font-weight: bold;
}

.popUpButtonArea {
  overflow: hidden;
}
