@charset "utf-8";

/*-----------------------------
  ボタンエリア
-----------------------------*/
#customerSendpasswordEditArea .requireMessageArea {
  text-align: left;
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
}

#customerSendpasswordEditArea div.linkBlock.dashed {
  border-bottom: dashed 1px #778899;
}


/*-----------------------------
  メールに関してコメント
-----------------------------*/
.mailComment {
  text-align:left;
  display: block;
  padding:20px;
}


/*768px以上（PC）で表示*/
@media screen and (min-width:768px) {
  input.email {
    ime-mode: inactive;
    width: 20em;
  }
}

/*767px以下（SP）で表示*/
@media screen and (max-width:767px) {
  #customerSendpasswordEditArea {
    text-align: left;
    width: 100%;
    padding-top: 20px;
  }
}
