@charset "utf-8";

.requireMessageArea {
  display: block;
  width: 100%;
}

.dash {
  border-top: 1px dashed #cccccc;
}

.dash:first-child {
  border-top: none;
}

/*-----------------------------
  パスワード情報エリア
-----------------------------*/
#changepasswordInfoArea>div {
  border-bottom: 1px dotted #AAAADD;
}

/*-----------------------------
  必須エリア
-----------------------------*/
div.requireMessageArea {
  float: left;
  overflow: hidden;
  background-color: #FFF;
}

/*-----------------------------
  入力データ
-----------------------------*/
#customerInitpasswordArea div.rightData {
  padding: 3px 0px 3px 10px;
}

/*-----------------------------
  パスワード再発行に関してコメント
-----------------------------*/
#passwordPolicyArea {
  font-size: 80%;
}

/*-----------------------------
  入力エリア
-----------------------------*/
#customerInitpasswordInfo {
  clear: both;
}

/*-----------------------------
  ボタンエリア
-----------------------------*/
#buttonArea {
  margin-top: 10px;
  overflow: hidden;
}

/*-----------------------------
  動的設定
-----------------------------*/

/*767px以下（SP）で表示*/
@media screen and (max-width:767px) {
/*-----------------------------
  全体配置エリア
-----------------------------*/
#customerInitpasswordArea {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}
