@charset "utf-8";

/*-----------------------------
  全体配置エリア
-----------------------------*/
#customerChangepasswordArea {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------
  必須
-----------------------------*/
div.requireMessageArea {
  overflow: hidden;
  background-color: #FFF;
}

/*-----------------------------
  パスワード変更に関してコメント
-----------------------------*/
#customerChangepasswordInfo {
  clear: both;
}

/*-----------------------------
  ボタンエリア
-----------------------------*/
#buttonArea {
  margin-top: 10px;
  overflow: hidden;
}
