<th:block th:if="${!#ctx.getExchange().getRequest().getRequestURI().contains('/error/no_support/')}">
<noscript>
  <meta http-equiv="refresh" th:content="'0; url=' + @{/app/error/no_support/}" />
</noscript>
</th:block>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<!--/* css */-->
<link rel="stylesheet" type="text/css" th:href="@{/files/exfiles/bootstrap-5.3.2/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/files/commonfiles/styles/reset.css}" />
<link rel="stylesheet" type="text/css" th:href="@{${#wsUtil.addTimeStampToURL('/files/commonfiles/styles/common.css')}}" />
<link rel="stylesheet" type="text/css" th:href="@{/files/systemfiles/styles/sociallogin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/files/exfiles/jquery.colorbox-1.6.4/colorbox.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/files/exfiles/concrete/concrete.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/files/exfiles/fontawesome-5.15.4-web/css/all.css}" />
<!--/* tracking */-->
<th:block th:include="./files/contentfiles/default_tracking.html :: wsparts-include"></th:block>
<!--/* javaScript */-->
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/popper-2.11.8/dist/popper.min.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/bootstrap-5.3.2/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/jquery.lightbox_me/jquery.lightbox_me.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/elevatezoom-plus-master/jquery.ez-plus.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/jquery.colorbox-1.6.4/jquery.colorbox.js}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{/files/exfiles/fontawesome-5.15.4-web/js/all.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var settings = {
    servletMapping : "/app",
    applicationLevel : "/pc",
    commonPath : "/cms/pc/common/",
    apiServ : "/api",
    logServ : "/log",
    pagingLineSize : 3,
    pagingMaxSize : 125,
    context: /*[[${#ctx.getExchange().getRequest().getContextPath()}]]*/'',
    apiContext: /*[[${#ctx.getExchange().getRequest().getContextPath()}]]*/'',
    defaultLang : /*[[${wovnConfig != null ? wovnConfig.defaultLang : #ctx.getExchange().getSession().getAttributeValue('wovnConfig').defaultLang}]]*/'',
    isUseWovn : /*[[${wovnConfig != null ? wovnConfig.status : #ctx.getExchange().getSession().getAttributeValue('wovnConfig').status}]]*/'',
    siteShopCode : /*[[${config != null ? config.siteShopCode : #ctx.getExchange().getSession().getAttributeValue('config').siteShopCode}]]*/'',
    sessionTimeout : /*[[${sessionTimeout != null ? sessionTimeout : #ctx.getExchange().getSession().getAttributeValue('sessionTimeout')}]]*/'',
    sessionTimer : /*[[${config != null ? config.sessionTimer : #ctx.getExchange().getSession().getAttributeValue('config').sessionTimer}]]*/'',
    sessionUrl : /*[[${config != null ? config.sessionUrl : #ctx.getExchange().getSession().getAttributeValue('config').sessionUrl}]]*/'',
    isUseNaviPlusSearch : /*[[${naviPlusConfig != null ? naviPlusConfig.search : #ctx.getExchange().getSession().getAttributeValue('naviPlusConfig').search}]]*/'',
    isUseNaviPlusSearchSuggest : /*[[${naviPlusConfig != null ? naviPlusConfig.searchSuggest : #ctx.getExchange().getSession().getAttributeValue('naviPlusConfig').searchSuggest}]]*/'',
    isUseNaviPlusRecommend : /*[[${naviPlusConfig != null ? naviPlusConfig.recommend : #ctx.getExchange().getSession().getAttributeValue('naviPlusConfig').recommend}]]*/'',
    isUseNaviPlusReview : /*[[${naviPlusConfig != null ? naviPlusConfig.review : #ctx.getExchange().getSession().getAttributeValue('naviPlusConfig').review}]]*/''
};
/*]]>*/
</script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/initialize.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/core.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/validate.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/process.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/session.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/socialLogin.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/webReception.js')}}"></script>
<script type="text/javascript" charset="UTF-8" th:src="@{${#wsUtil.addTimeStampToURL('/files/systemfiles/scripts/veritrans.js')}}"></script>
<script type="text/javascript" th:src="@{/files/exfiles/concrete/blocks/image/js/image_hover.js}"></script>
<script type="text/javascript" th:src="@{/files/exfiles/concrete/js/responsive-slides.js}"></script>
<script type="text/javascript" th:src="@{/files/exfiles/concrete/js/videoPlayer_swfobject.js}"></script>
